<h1>Bibliotheque Audio</h1>

<div class='auteurs container'>
  <div *ngFor='let auteur of auteurs | async'>
    <div class='auteur-item' (click)='selectAuteur(auteur)'>{{auteur.nom}}</div>

    <div class='auteur-disques-list' *ngIf='selectedAuteur===auteur'>
      <div class='row'>
        <div>
          <h2>Disques</h2>
          <span *ngIf='disques | async'>{{(disques | async).length}} éléments</span>
        </div>
        <div class='column' style='overflow:auto;'>
          <div class='row'>
            <div class='column column-33' *ngFor='let disque of disques | async'>
              <span style='font-weight: bold;'>{{disque.nom}}</span> <sup>{{disque.id}}</sup>
              <ol *ngIf='disque.chansons' style='height:16em; overflow:auto;'>
                <li *ngFor='let chanson of disque.chansons'>{{chanson.nom}} {{chanson.duree}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Recherche d'artistes à importer (avec Discogs)</h2>
<input #zoneRecherche type='text' (keyup)='rechercheArtiste(zoneRecherche.value)' /><br/>
<div *ngFor='let artist of importableArtists | async' (click)='importArtist(artist)'>
  {{artist.artistName}} ({{artist.discogId}})
</div>